# Environment variables
.env

# IDE and editor files
.vscode/

# Python-specific
__pycache__/
.Python
venv/

# Operating System
.DS_Store

# Datasets
tasks/*
!tasks/.gitkeep

# Predictions
predictions/*